img { pointer-events: none; }
@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/orbitron/v19/yMJMMIlzdpvBhQQL_SC3X9yhF25-T1ny_CmBoWg2.ttf) format('truetype');
}
